@import 'tailwindcss';
@plugin "daisyui";
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {

    /* Colors */
    --color-primary-50: var(--color-violet-50);
    --color-primary-100: var(--color-violet-100);
    --color-primary-200: var(--color-violet-200);
    --color-primary-300: var(--color-violet-300);
    --color-primary-400: var(--color-violet-400);
    --color-primary-500: var(--color-violet-500);
    --color-primary-600: var(--color-violet-600);
    --color-primary-700: var(--color-violet-700);
    --color-primary-800: var(--color-violet-800);
    --color-primary-900: var(--color-violet-900);
    --color-primary-950: var(--color-violet-950);

    --color-text-primary: var(--color-gray-900);
    --color-text-secondary: var(--color-gray-700);
    --color-text-tertiary: var(--color-gray-600);
    --color-text-muted: var(--color-gray-500);

    --color-bg-primary: oklch(98.5% 0 0);
    --color-bg-secondary: oklch(96.7% 0.001 286.375);
    --color-bg-tertiary: oklch(92% 0.004 286.32);

    --color-zinc-50: var(--color-primary-50);
    --color-zinc-100: var(--color-primary-100);
    --color-zinc-200: var(--color-primary-200);
    --color-zinc-300: var(--color-primary-300);
    --color-zinc-400: var(--color-primary-400);
    --color-zinc-500: var(--color-primary-500);
    --color-zinc-600: var(--color-primary-600);
    --color-zinc-700: var(--color-primary-700);
    --color-zinc-800: var(--color-primary-800);
    --color-zinc-900: var(--color-primary-900);
    --color-zinc-950: var(--color-primary-950);

    --color-accent: var(--color-primary-600) !important;
    --color-accent-content: var(--color-primary-600);
    --color-accent-foreground: var(--color-white);

    --shadow-glass-card: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

    /* Animations  */
    --animate-gradientBG: gradientBG 15s ease infinite;

    @keyframes gradientBG {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
}

@layer theme {
    .dark {
        --color-accent: var(--color-primary-400) !important;
        --color-accent-content: var(--color-primary-400);
        --color-accent-foreground: var(--color-white);

        --color-text-primary: var(--color-gray-100);
        --color-text-secondary: var(--color-gray-300);
        --color-text-tertiary: var(--color-gray-400);
        --color-text-muted: var(--color-gray-500);

        --color-bg-primary: oklch(21% 0.006 285.885);
        --color-bg-secondary: oklch(27.4% 0.006 286.033);
        --color-bg-tertiary: oklch(37% 0.013 285.805);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    .glass-card {
        @apply backdrop-blur-md bg-gradient-to-tr from-zinc-800/10 via-accent/10 to-zinc-800/10 shadow-glass-card;
    }

    .dark .glass-card,
    .dark .sidebar-glass-card {
        @apply from-zinc-50/10 via-accent/20 to-zinc-50/10;
    }

    .sidebar-glass-card {
        @apply bg-gradient-to-tr from-zinc-800/10 via-accent/10 to-zinc-800/10 shadow-glass-card;
    }

    .animated-bg {
        @apply bg-[length:400%_400%] animate-gradientBG bg-gradient-to-br from-bg-tertiary via-bg-primary to-bg-tertiary;
    }

    .dark .animated-bg {
        @apply bg-[length:400%_400%] animate-gradientBG bg-gradient-to-br from-bg-primary via-bg-primary to-bg-primary;
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply mb-0! leading-tight!;
}